*{
    margin:0;
    padding:0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
box-sizing: border-box;
}
body{
    background: #081b29;
    color: #ededed;
   
align-items: center;
background-position: center;
margin-left: 30px;
background-image: url("/assests/image1.png") ;
    background-position: 80% 50%;

    background-attachment: fixed;
    background-repeat: no-repeat;

}



.header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px;
    background :transparent;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;


}
.logo{
    font-size: 25px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 700;

}
.navbar a{
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
    margin-left: 30px;
    transition: 0.1s;

}
.navbar a:hover{
    color: greenyellow;
transform: scale(1.5);

}
.home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding:0 10%;

}
.home-content{
    max-width:600px;

}
.home-content h1{
    font-size:56px;
    font-weight:700;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700px;
    color: aqua;
}
.home-content p{
    font-size: 16px;
    line-height: 1;
}
.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width:345px;
    height:50px;
    
}
.btn-box a{
    position:relative;
    margin-top: 50px;
    display: inline-flex;
    width:150px;
    height: 100%;
    background-color:aqua;
    border:2px solid aqua;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    font-size: 19px;;
    font-weight: 600;
    letter-spacing: 10x;
    text-decoration: none;

}

.btn-box a:nth-child(2){
    background: transparent;
    color: aqua;
}
 .btn-box a:nth-child(2):hover{
    transform: scale(1.5);
 }
  .btn-box a:nth-child(1):hover {
      transform: scale(1.5);
  }
.btn-box a:nth-child(1) {
    background: transparent;
    color: aqua;
}
.home-sci{
    position:absolute;
    bottom: 40px;
    width:100px;
    display: flex;
    justify-content: space-around;

}
.home-sci2 {
    position: absolute;
    bottom: 40px;
    width: 100px;
    display: flex;
    justify-content: space-around;

}
.home-sci:hover{
    transform: scale(1.5);
}
.home-sci a{
   
    display:inline-flex ;
    justify-content: space-around;
    align-items: center;
    width:400px;
    height:40px;
    background:transparent;
    border: 2px solid aqua;
    border-radius: 50% ;
    font-size: 20px;
    color: aqua;
    text-decoration: none;
    

}
.home-sci2 a {

    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 40px;
    background: transparent;
    border: 2px solid aqua;
    border-radius: 50%;
    font-size: 20px;
    color: aqua;
    text-decoration: none;
margin-left: 100px;
}
.btn-box2{
    margin-top: 100px;
    margin-left: 100px;
    position: fixed;
    border: 2px solid aqua;
border-radius: 8px;
justify-content: space-between;
text-decoration: none;;
background-color: aqua;
    
}
.btn-box2 a{
    text-decoration: none;
}
.btn-box3{
    margin-top: 100px;
    margin-left: 200px;
    position: fixed;
    border: 2px solid aqua;
    border-radius: 8px;
    justify-content: space-between;
    background-color: aqua;

}
.btn-box4 {
    margin-top: 100px;
    margin-left: 300px;
    position: fixed;
    border: 2px solid aqua;
    border-radius: 8px;
    justify-content: space-between;
    background-color: aqua;

}